---
permalink: "worship_helps/archives.html"
dynamicPermalink: false
---
extends _includes/base.pug
block col2
  section.container.archives
    h3.archive-title Archives
    .archive-container
      ul
        each archive, i in collections.archive
          li
            a(href=`/worship_helps/${archive.y}/${archive.m}/`).archive-link #{archive.name}
            if (i !== collections.archive.length-1)
              |,&nbsp
    h3.archive-title Categories
    - var categories = Object.keys(collections).filter(key => !['all', 'post', 'doublePagination', 'archive'].includes(key)).sort();
    .archive-container
      ul
        each cat, j in categories
          li
            a(href=`/worship_helps/${global.slug(cat, "_")}/`).archive-link #{cat}
            if (j !== categories.length-1)
              |,&nbsp

